body {
    margin: 0;
    height: 100vh;
    font-family: 'Mountains of Christmas', serif;
    color: white;
    background: #e53935;
    background: linear-gradient(to left, #e53935 , #e35d5b);
    background-size: cover;
    position: relative;
 }

 #snow,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}

 .snow, snow:after, .snow:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:
  radial-gradient(4px 4px at 100px 50px, #fff, transparent),
  radial-gradient(6px 6px at 200px 150px, #fff, transparent),
  radial-gradient(3px 3px at 300px 250px, #fff, transparent),
  radial-gradient(4px 4px at 400px 350px, #fff, transparent),
  radial-gradient(6px 6px at 500px 100px, #fff, transparent),
  radial-gradient(3px 3px at 50px 200px, #fff, transparent),
  radial-gradient(4px 4px at 150px 300px, #fff, transparent),
  radial-gradient(6px 6px at 250px 400px, #fff, transparent),
  radial-gradient(3px 3px at 350px 500px, #fff, transparent);
  background-size: 650px 650px;
 }

 .snow:after{
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
 }

 .snow:before{
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
 }

 p {
  text-align: center;
  font-size: 50px;
 }

 h1 {
  font-size: 40px;
 }

#inputText {
  font-family: inherit;
  font-size: x-large;
  width: 90%;  
  resize: vertical; 
  margin: 2px;
  background-color: #414141;
  color: white;
}


#content {
    text-align: center;
}

button{
  font-family: 'Mountains of Christmas', serif;
  font-size:xx-large;
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.7rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 230, 115, 0.6);
    padding: 10px 0;
  }
  
  footer a {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    margin: 0 10px;
  }
  
  footer a:hover {
    color: #FF5733;
  }