body {
    height: 100vh;
    margin: 0;
    font-family: 'Silkscreen', sans-serif; 
 }

.responsive-textarea {
    width: 90%;  
    resize: vertical; 
    margin: 2px;
}

#form {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
  }
  
  footer a {
    color: white;
    text-decoration: underline;
    margin: 0 10px;
  }
  
  footer a:hover {
    color: orange;
  }
  